
<div class="message" style="justify-content: center; align-items:center; color:white">
    <h1>Order Product Status Changed</h1> <!-- Heading for successful feedback capture -->
    <p>An email has been sent to the customer</p> <!-- Message thanking the user for their review -->
    <br>
    <br>
    <a asp-controller="ArtistOrders" asp-action="Index">
        <!-- Link to navigate back to the home page -->
        <button class="btn btn-primary" style="width:245px; background-color:#0044A3; border-color:#0044A3">Back to Product Orders</button>
        <!-- Button for going back to the home page -->
    </a>
</div>
