@model ST10361554_CLDV6211_POE_Part_2.Models.Craftwork

@{
    ViewData["Title"] = "Edit";
}

<style>

    h1 {
        color: white;
    }

    h4 {
        color: white;
    }

    hr {
        color: white;
    }

    div {
        color: white;
    }

    /* Disable spinners for number input */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

</style>

<h1>Edit</h1>

<h4>Craftwork</h4>
<div>
    <button type="submit" class="btn btn-light" title="View Categories">
        <a asp-controller="CraftworkCategories" asp-action="Index">
            Click here to view the list of all available categories
        </a>
    </button>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CraftworkId" />
            <div class="form-group">
                <label asp-for="CraftworkName" class="control-label"></label>
                <input asp-for="CraftworkName" class="form-control" />
                <span asp-validation-for="CraftworkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CraftworkDescription" class="control-label"></label>
                <input asp-for="CraftworkDescription" class="form-control" />
                <span asp-validation-for="CraftworkDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CraftworkPrice" class="control-label"></label>
                <input type="number" asp-for="CraftworkPrice" class="form-control" />
                <span asp-validation-for="CraftworkPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CraftworkQuantity" class="control-label"></label>
                <input asp-for="CraftworkQuantity" class="form-control" min="0"/>
                <span asp-validation-for="CraftworkQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="font-weight:500" class="control-label">Please select your user id from the dropdown below:</label>
                <label style="font-weight:700" class="control-label">@ViewData["CurrentUserId"]</label>
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Current Picture</label>
                <br>
                @{
                    string base64Image = "-1";
                    if (Model.CraftworkPictureData != null && Model.CraftworkPictureData.Length > 0)
                    {
                        base64Image = Convert.ToBase64String(Model.CraftworkPictureData);
                    }

                    if (!base64Image.Equals("-1"))
                    {
                        <img src="data:image/jpeg;base64,@base64Image" width="120px" height="120px" />
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Upload a picture of your new craftwork</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="submit" class="btn btn-light" title="Create">
        <a asp-action="Index">
            <i class="bi bi-arrow-return-left"></i>
            Back to List
        </a>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
