<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]  - KhumaloCraft Emporium</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ST10361554_CLDV6211_POE_Part_2.styles.css" asp-append-version="true" />
	<!-- Favicon -->
	<link href="/WebsiteIcon.ico" rel="icon" />
	<!-- Bootstrap Icons CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<!-- Bootstrap v4.3.1 CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="font-family:Raleway;">
	<div class="wrapper">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color:#355848">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">KhumaloCraft Emporium</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Work" asp-action="Index">My Work</a>
							</li>
							@if (User.IsInRole("Customer"))
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index">My Orders</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ContactUs">ContactUs</a>
							</li>
							@if (User.IsInRole("Admin"))
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="FeedBack" asp-action="Index">FeedBack from Users</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="CraftworkCategories" asp-action="Index">Craftwork Categories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Craftworks" asp-action="Index">Craftworks</a>
								</li>
							}
							@if (User.IsInRole("Artist"))
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="Craftworks" asp-action="Index">Craftworks</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-controller="ArtistOrders" asp-action="Index">Product Orders</a>
								</li>
							}
						</ul>
						<partial name="_LoginPartial" />
					</div>
				</div>
			</nav>
		</header>
		<div class="container flex-grow-1">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
		<footer class="border-none footer text-light" style="background-color:#355848;">
			<div class="container">
				&copy; 2024 - KhumaloCraft Emporium - <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
			</div>
		</footer>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
