@{
    ViewData["Title"] = "About Us";  // Sets the title of the page to "About Us"
}

<style>
    h1, h3, p {
        color: white; /* Sets text color to white for headings and paragraphs */
    }

    sub {
        font-size: 17px; /* Sets font size for subtext */
    }
</style>

<h1>
    Art is too important not to share... <sub>- Romero Britto</sub>
</h1>
<br>
<h3>Welcome to KhumaloCraft Emporium</h3>
<p>
    At KhumaloCraft Emporium, passion meets craftsmanship and every purchase tells a story.
    Founded by James Khumalo, a dedicated South African entrepreneur with a vision,
    our goal is to establish KhumaloCraft Emporium as a global platform showcasing exquisite handcrafted products
    while ensuring a secure and enjoyable shopping experience for our customers.
</p>
<br>
<h3>Our Vision</h3>
<p>
    At KhumaloCraft Emporium, our dream is to connect artisans worldwide with a discerning audience
    who appreciates the artistry and uniqueness of handcrafted goods.
    We are committed to empowering artists from all backgrounds
    by providing them with a platform to showcase their skills and reach a global market.
</p>
<br>
<h3>Our Commitment</h3>
<p>
    We are committed to curating a collection of handcrafted products that reflect quality, authenticity, and cultural richness.
    Each item featured on our platform is carefully selected to ensure it meets our standards of craftsmanship and ethical production practices.
    By supporting KhumaloCraft Emporium, you are not just purchasing a product;
    you are contributing to the empowerment of artisans and their communities.
</p>
<br>
<h3>James Khumalo - Founder and Visionary</h3>
<p>
    James Khumalo, a proud South African, founded KhumaloCraft Emporium with the vision of celebrating diversity and
    talent from all corners of the world.
    His commitment to empowering artists drives every aspect of our business.
    James believes that every artist deserves recognition and support,
    and KhumaloCraft Emporium is dedicated to making that vision a reality.
</p>
<br>
<h3>Our Collection</h3>
<p>
    Explore our curated collection of handcrafted products, including artisanal jewelry, handwoven textiles, unique home decor pieces, and more.
    Every purchase you make not only celebrates craftsmanship but also supports artists and their communities,
    fostering positive change and empowerment.
</p>
<br>
<h3>Join Us in Celebrating Craftsmanship</h3>
<p>
    Thank you for visiting KhumaloCraft Emporium.
    We invite you to join us in celebrating the artistry and talent of artisans from around the world.
    Discover unique treasures, connect with talented makers,
    and experience the joy of owning something truly special while making a positive impact on artists' lives.
</p>

