@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 550px; /* Sets the width of images to 550 pixels */
        height: 350px; /* Sets the height of images to 350 pixels */
    }
</style>

<div class="text-center" style="color: white;">
    <!-- Applies text-center alignment and white color to the text -->
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>  <!-- Displays a large heading -->
    <p>
        Discover the magic of handcrafted treasures. Every purchase is a celebration of artistry and culture.
        Founded by James Khumalo, our platform is dedicated to connecting global artisans with discerning enthusiasts
        who appreciate the beauty of handmade goods.
    </p>
    <br>
    <h3>Shop Unique Handcrafted Products</h3>  <!-- Displays a sub-heading -->
    <p>
        Explore our curated collection of artisanal jewelry, handwoven textiles, and exquisite home decor pieces.
        Each item is carefully selected to reflect quality, authenticity, and cultural richness, making every purchase a meaningful experience.
    </p>
    <br>
    <img src="~/Images/HandMadeCeramics.jpg" alt="Shop Unique Handcrafted Products" title="Shop Unique Handcrafted Products" />
    <!-- Displays an image with alt and title attributes -->
    <br>
    <br>
    <h3>Empowering Artisans Worldwide</h3>  <!-- Displays another sub-heading -->
    <p>
        At KhumaloCraft Emporium, we are committed to empowering artists from diverse backgrounds.
        Through our platform, we provide a global stage for artisans to showcase their skills,
        fostering positive change and cultural appreciation.
    </p>
    <br>
    <img src="~/Images/PeopleComingTogether.jpg" alt="Empowering Artisans Worldwide" title="Empowering Artisans Worldwide" />
    <!-- Displays another image with alt and title attributes -->
    <br>
    <br>
    <h3>Experience the Joy of Craftsmanship</h3>  <!-- Displays another sub-heading -->
    <p>
        Every item tells a story of passion and craftsmanship.
        Own something truly unique and support artists and their communities with every purchase.
    </p>
    <br>
    <img src="~/Images/Community.jpg" alt="Support artists and their communities" title="Support artists and their communities" />
    <!-- Displays another image with alt and title attributes -->
</div>
